%h1 All assets

#assets_grid
	- @assets.each do |asset|
		%div[asset]
			%a{:href => "/assets/#{asset.id}"}
				%img{:src => asset.asset.url(:thumb)}
			.actions
				%a.edit(href="/assets/#{asset.id}") Edit
				%a.delete(href="/assets/#{asset.id}/delete") Delete