!!! HTML5
%html{:lang => "en"}
  %head
    %title Asset Manager
    %link(href="/css/screen.css" type="text/css" rel="stylesheet" media="screen")
    %script(type="text/javascript" src="/js/jquery-1.3.2.js")
    %script(type="text/javascript" src="/js/bjorn-0.1.0.js")
    %script(type="text/javascript" src="/js/application.js")
  %body#assets
    #container
      .header.clearfix
        %h1 Asset Managizzle
        .nav
          %ul
            %li
              %a(href="/") Assets
            %li
              %a(href="/assets/new") Upload
      .section.main
        =yield
      .footer
        Blah