%a(href="#/assets?format=json") Gimme JSON
#assets_grid.group
  .prototype(style="display:none")
    .asset
      .liner
        .img
          %a(href="#edit_asset/ASSET_ID")
            %img(src="ASSET_URL" alt="ASSET_FILENAME")
        .actions
          %a(href="javascript:void(0)") Delete